.jumbotron {
    background-image: url("https://image.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg");
    background-repeat: repeat;
    background-position: right;
    background-color: black;
    color:black;
    /* -webkit-text-stroke: 1px red; */
    margin-top: 3%;
  }
  #newburger {
    color: yellow;
  }
  #leftside {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }