.jumbotron {
    background-image: url("https://previews.123rf.com/images/seamartini/seamartini1606/seamartini160600097/58046870-burger-sandwiches-background-for-cafe-interior-or-menu-design-with-cartoon-seamless-pattern-of-fast-.jpg");
    background-repeat: repeat;
    background-position: right;
    background-color: black;
    color:black;
    /* -webkit-text-stroke: 1px red; */
    margin-top: 3%;
  }
  #newburger {
    color: yellow;
  }
  #leftside {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }